{
  "plugins": [
    "syntax-object-rest-spread",
    "transform-object-rest-spread",
    "dynamic-import-node"
  ],
  "env": {
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    },
    "production": {
      "presets": [
        ["env", {
          "targets": {
            "node": true
          },
          "modules": false
        }]
      ]
    }
  }
}
