{
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "env": {
    "jest": true
  },
  "rules": {
    "import/extensions": [
      "error",
      "always",
      {
        "js": "never"
      }
    ],
    "no-new-func": "off",
    "no-eval": "warn",
    "no-param-reassign": "warn",
    "no-empty": "off",
    "no-restricted-syntax": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": [
          "src"
        ]
      }
    }
  }
}
