{
  "parser": "babel-eslint",
  "extends": [
    "plugin:jest/recommended",
    "airbnb-base"
  ],
  "plugins": [
    "jest"
  ],
  "env": {
    "jest": true
  },
  "rules": {
    "function-paren-newline": "off",
    "no-new-func": "off",
    "no-eval": "warn",
    "no-param-reassign": "warn",
    "no-empty": "off",
    "no-restricted-syntax": "off",
    "consistent-return": "warn",
    "class-methods-use-this": "off"
  },
  "settings": {
    "import/resolver": [
      "jest",
      "node"
    ]
  }
}
